#editor {
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;
}
#editor {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 85px;
    font-family: "Source Sans Pro", sans-serif;
    font-size:18px;
    line-height:135%;
}

#editor p {
    font-family:'Noto Serif',serif;
}

#editor h1, #editor h2, #editor h3, #editor h4, #editor h5, #editor h6 {
    font-weight: bold;
}

#editor blockquote {
    font-family: "Noto Serif", serif;
    font-style: italic;
}

@media (max-width: 767px) {
    #editor {
      padding: 45px 15px 15px 15px;
    }
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}
